@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root {
  --purple-500: hsl(259, 100%, 65%);
  --red-400: hsl(0, 100%, 67%);

  --white: hsl(0, 100%, 100%);
  --grey-100: hsl(0, 0%, 94%);
  --grey-200: hsl(0, 0%, 86%);
  --grey-500: hsl(0, 1%, 44%);
  --black: hsl(0, 0%, 0%);

  --font-size-inputs: 32px;
  --font-family: 'Poppins', sans-serif;
  --font-weight-regular-italic: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold-italic: 800;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--grey-100);
  font-family: var(--font-family);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  flex-direction: column;
}


.containerInput{
  display: flex;
  gap:3rem;
  width: 90%;
}

.formLabel{
  display: flex;
  align-content: center;
  flex-direction: column;
}

.calcAgeButton{
  background-color: var(--purple-500);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: var(--white);
  cursor: pointer;
  font-size: 28px;
  height: 64px;
  width: 64px;
  transition: .3s ease;
}

.calcAgeButton:hover{
  transform: scale(1.1);
}

.inputDate{
  width: 90px;
  border: 1px solid var(--grey-200);
  border-radius: 4px;
  padding: 7px;
}

.containerCalc{
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  width: 100%;
  max-width: 600px;
}

hr{
  margin: 30px 0;
  background-color: var(--grey-200);
}

.fieldDate{
  display: flex;
  align-items: center;
  gap: 5px;
}

.fieldDate h2{
  font-size: 2rem;
}

.fieldDate .dateLabel{
  color: var(--purple-500);
  font-weight: bold;
  font-size: 2rem;
}

.containerButton{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.containerButton hr{
  width: 100%;
  border: 1px solid var(--grey-200);
}

.containerButton button{
  position: absolute;
  right: 0px;
}


@media (max-width: 600px) {
 .containerInput{
  gap: 0.5rem;
 }
  .inputDate{
    width: 70px;
  }

  .calcAgeButton {
      padding: 5px;
      height: 50px;
      width: 50px;
  }

  .calcAgeButton img{
    width: 100%;
  }

.containerButton button{
        left:50%;
        transform:translateX(-50%);
}

.calcAgeButton:hover{
  transform: scale(1.1) translateX(-50%);
}

}